h1, h2{
  margin-top: 30px;
}

.App {
  text-align: center;
}


.myvisible{
  visibility: visible !important;
}

.container{
  width: 1016px;
}

#principal{
  margin: 120px auto;
  text-align: center;
}

#topmenu{
  height: 60px;
  width: 100%;
  background-color: #666;
  padding: 20px;
  text-align: right;
}

#menu li{
  display: inline-block;
  margin-right: 30px;
}

#menu li a{
  text-decoration: none;
  color: white;
}

#manche{
  background-image: url("images/manche.png");
  background-repeat: no-repeat;
  width: 1016px;
  height : 237px;
  margin: 100px auto;
}

#manche li{
  color: #fff;
}

#contpuces{
  position: relative;
  top: 26px;
  left: -33px;
  width: 1016px;
  height : 151px;
  display: grid;
  grid-auto-rows: minmax(25px, auto);
}

#selecteurs{
  
}

.puce{
  margin: 0;
  color: black;
  display: table-cell;
  width: 75px;
  visibility: hidden;
  height : 30px;
  background-image: url("images/puce.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 6px;
  font-size: 13px;
  cursor: pointer;
}

.popnote{
  width: 300px;
  min-height: 50px;
  background-color: rgb(32, 32, 32);
  color: white;
  position: absolute;
  top: 250px;
  left : 50%;
  margin-left: -100px;
  opacity:0;
  padding: 10px;
  font-size: 20px;
  
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease
}
@keyframes appear {
  from {opacity:0;}
  to {opacity:1;}
}


#listenotes{
  background: rgb(68, 68, 68);
  height: 39px;
  padding: 4px;
}

.play{
  margin-left: 30px;
  margin-top: -10px;
  cursor: pointer;
}


.affichenote{
  margin-right: 20px;
  font-size: 24px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
